@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        img {
            vertical-align: middle;
        }

        .container {
            position: relative;
        }

        .mySlides {
            display: none;
        }

        .cursor {
            cursor: pointer;
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column {
            float: left;
            width: 16.66%;
        }

        .demo {
            opacity: 0.6;
        }

            .active,
            .demo:hover {
                opacity: 1;
            }
    </style>
</head>
<body>

    <div class="container">
        <h1 class="display-4">Welcome to CRUDpageTest</h1>
        <p class="lead">This is the home page.</p>
    </div>

    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="~/images/home/Wood_11.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="~/images/home/Wood_7.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="~/images/home/Wood_8.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="~/images/home/Woodplc1.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="~/images/home/Wood_10.jpg" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="~/images/home/Woodplc4.jpg" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        <div class="caption-container">
            <p id="caption"></p>
        </div>
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="~/images/home/Wood_11.jpg" style="width:80%" onclick="currentSlide(1)" alt="'Engineers like to solve problems. If there are no problems handily available, they will create their own problems.' — Scott Adams">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/images/home/Wood_7.jpg" style="width:80%" onclick="currentSlide(2)" alt="'Scientists study the world as it is; engineers create the world that never has been.' — Theodore von Karman">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/images/home/Wood_8.jpg" style="width:80%" onclick="currentSlide(3)" alt="'The problem in this business isn’t to keep people from stealing your ideas; it’s making them steal your ideas!'   — Howard Aiken">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/images/home/Woodplc1.jpg" style="width:80%" onclick="currentSlide(4)" alt="'Engineering is not only study of 45 subjects but it is moral studies of intellectual life.' — Prakhar Srivastav">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/images/home/Wood_10.jpg" style="width:80%" onclick="currentSlide(5)" alt="'To the optimist, the glass is half full. To the pessimist, the glass is half empty. To the engineer, the glass is twice as big as it needs to be.' — Unknown">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/images/home/Woodplc4.jpg" style="width:80%" onclick="currentSlide(6)" alt="'Innovation is the relentless drive to break the status quo and develop anew where few have dared to go.' — James Dyson">
            </div>
        </div>
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }

        function autoShowSlides() {
            plusSlides(1);
            setTimeout(autoShowSlides, 5000); // Change image every 5 seconds
        }

        autoShowSlides(); // Start the automatic slideshow
    </script>
</body>
</html>
